@charset "UTF-8";

body {
  overflow: auto;
  cursor: none;
}

@media screen and (max-width: 767px) {
  body {
    overflow: auto;
    cursor: auto;
  }
}

#cursor {
  z-index: 99;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #001e38;
  width: 7px;
  height: 7px;
  /* border-radius: 100%; */
  pointer-events: none;
}

@media screen and (max-width: 767px) {
  #cursor {
    display: none;
  }
}

#stalker {
  position: fixed;
  z-index: 99;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #000;
  width: 50px;
  height: 50px;
  border-radius: 10%;
  -webkit-transition: 0.15s;
  transition: 0.1.5s;
  opacity: .2;
  pointer-events: none;
}

@media screen and (max-width: 767px) {
  #stalker {
    display: none;
  }
}

a:focus,
*:focus {
  outline: none;
}

a:hover {
  cursor: none;
}



@media screen and (max-width: 767px) {
  a:hover {
    cursor: pointer;
  }
}

.about,
.point,
.gallery,
.like {
  padding: 100px 20%;
}

@media (max-witdh: 1280px) {

  .about,
  .point,
  .gallery,
  .like {
    padding: 80px 10%;
  }
}

@media (max-witdh: 768px) {

  .about,
  .point,
  .gallery,
  .like {
    padding: 80px 5%;
  }
}

html,
body {
  font-family: 'Ubuntu', 'Noto Serif JP', sans-serif;
}

.fd-in {
  opacity: 0;
  transform: translate(0, 30px);
  -webkit-transform: translate(0, 30px);
}

.fd-done {
  opacity: 1.0;
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
}

section {
  overflow: hidden;
  -webkit-transition: .8s;
  transition: .8s;
}

.section__title {
  font-size: 48px;
  text-align: center;
  color: #001e38;
}

.section__title__description {
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 50px;
  color: #001e38;
  opacity: 0.7;
}


.nav {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.95);
  text-align: center;
  -webkit-transform: translateX(-200%);
  transform: translateX(-200%);
  -webkit-transition: all 2.25s;
  transition: all 2.25s;
  width: 100%;
  height: 100vh;
  padding-top: 70px;
}

.nav__list {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.nav__list__item {
  list-style-type: none;
  text-align: center;
  width: 100%;
}

.nav__list__item a {
  font-size: 30px;
  font-weight: 700;
  display: inline;
  color: #001e38;
  text-decoration: none;
  line-height: 15vh;
  padding-bottom: 4px;
  border-bottom: 2px solid #001e38;
}

.nav.active {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  visibility: visible;
  opacity: 1;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}



.navToggle {
  display: block;
  position: fixed;
  /* bodyに対しての絶対位置指定 */
  right: 13px;
  top: 12px;
  width: 42px;
  height: 51px;
  cursor: pointer;
  z-index: 3;
  text-align: center;
}

.navToggle span {
  display: block;
  position: absolute;
  /* .navToggleに対して */
  width: 30px;
  border-bottom: solid 3px #666;
  -webkit-transition: .55s ease-in-out;
  -webkit-transition: 0.55s ease-in-out;
  transition: 0.55s ease-in-out;
  left: 6px;
}

.navToggle span:nth-child(1) {
  top: 9px;
}

.navToggle span:nth-child(2) {
  top: 18px;
  border-bottom-color: #001e38;
}

.navToggle span:nth-child(3) {
  top: 27px;
}


/* 最初のspanをマイナス45度に */
.navToggle.active span:nth-child(1) {
  top: 18px;
  left: 6px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border-bottom-color: #001e38;
}

/* 2番目と3番目のspanを45度に */
.navToggle.active span:nth-child(2) {
  -webkit-transform: translateX(35px);
  transform: translateX(35px);
  opacity: 0;
}

.navToggle.active span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-bottom-color: #001e38;
}

.hero {
  width: 100%;
  height: 100vh;
}

.hero__logo {
  width: 100%;
  text-align: center;
  padding-bottom: 5%;
}

.hero__logo__h1 {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-family: 'Noto Serif JP', serif;
  font-weight: 400;
  font-size: 42px;
  color: #001e38;
  line-height: 1;
  letter-spacing: 20px;
  margin: 0 auto 20px;
  height: 90vh;
}

.about {
  background-color: #f0f0f0;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.about__image {
  position: relative;
  width: 50%;
  text-align: center;
}

@media (max-width: 768px) {
  .about__image {
    width: 100%;
  }
}

.about__image img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 50%;
  height: auto;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .about__image img {
    position: relative;
  }
}

.about__text {
  width: 50%;
  color: #666;
}

@media (max-width: 768px) {
  .about__text {
    width: 100%;
    padding-top: 16px;
  }
}

.about__text p {
  line-height: 2;
  margin-left: 50px;
  font-size: 17px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .about__text p {
    margin: 20px 0 0;
  }
}

.point {
  background: #f0f0f0;
}

.point__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  list-style-type: none;
}

.point__item {
  color: #666;
  text-align: center;
  -ms-flex-preferred-size: 45%;
  flex-basis: 45%;
}

@media (max-width: 768px) {
  .point__item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .point__item:not(:first-child) {
    margin: 30px 0 0;
  }
}

.point__item i {
  font-size: 44px;
  font-weight: 900;
  width: 50px;
  border-bottom: 4px solid #001e38;
  display: inline-block;
  text-align: center;
  padding: 0 0 8px;
  margin: 0 0 20px;
  color: #001e38;
}

.point__item__heading {
  color: #001e38;
  font-size: 24px;
  padding-bottom: 10px;
}

.point__item p {
  text-align: center;
  font-size: 18px;
}

.gallery {
  background-color: #f0f0f0;
}

.gallery__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.gallery__item {
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
  margin-top: 40px;
}

@media (max-width: 768px) {
  .gallery__item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .gallery__item:nth-child(2n) {
    margin-top: 20px;
    margin: 20px 0;
  }
}

.gallery__item img {
  width: 100%;
  height: auto;
}

.gallery__item a {
  -webkit-transition: .5s;
  transition: .5s;
}

.gallery__item a:hover {
  opacity: .7;
}

.gallery__item a:hover img {
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
}


.contact {
  padding: 80px 0 150px;
}

.contact-form {
  width: 50%;
  margin: 50px auto 0;
}

.contact-form input[type=text],
.contact-form input[type=tel],
.contact-form input[type=email],
.contact-form textarea {
  display: block;
  width: 100%;
  margin-bottom: 25px;
  padding: 15px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.05);
  color: #333;
  cursor: none;
}

.contact-form input[type=text]:focus,
.contact-form input[type=tel]:focus,
.contact-form input[type=email]:focus,
.contact-form textarea:focus {
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5) inset;
}

.contact-form textarea {
  height: 200px;
}

.contact-form input[type=submit] {
  display: block;
  width: 200px;
  margin: 40px auto 0;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  cursor: none;
}

.contact-form input[type=submit]:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.contact small {
  color: #333;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 20px 0;
  background: #444;
  color: #fff;
}

footer small {
  font-size: 12px;
  line-height: 1;
}

/*# sourceMappingURL=style.css.map */